@mixin transform($string) {
  transform:          $string;
  -webkit-transform:  $string;
  -moz-transform:     $string;
  -o-transform:       $string;
  -ms-transform:      $string;
}

@mixin transition($duration, $after, $style:preserve-3d) {
  transition:         $duration $after;
  -webkit-transition: $duration $after;
  -moz-transition:    $duration $after;
  -o-transition:      $duration $after;
  -ms-transition:     $duration $after;

  -webkit-transform-style:  $style;
  -moz-transform-style:     $style;
  -o-transform-style:       $style;
  transform-style:          $style;
}

@mixin perspective($value) {
  -webkit-perspective:  $value;
  -moz-perspective:     $value;
  -o-perspective:       $value;
  perspective:          $value;
}

@mixin border-radous($radius) {
  border-radius:          $radius;
  -webkit-border-radius:  $radius;
  -moz-border-radius:     $radius;
  -o-border-radius:       $radius;
  -ms-border-radius:      $radius;
}
